<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lab.army.mybatis.mappers.CountryMapper">
    <resultMap id="countryResultMap" type="com.solvd.lab.army.model.Country">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="getById" parameterType="int" resultMap="com.solvd.lab.army.mybatis.mappers.CountryMapper.countryResultMap">
        SELECT * FROM country WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="com.solvd.lab.army.mybatis.mappers.CountryMapper.countryResultMap">
        SELECT * FROM country
    </select>

    <insert id="insert" parameterType="com.solvd.lab.army.model.Country">
        INSERT INTO country (name )
        VALUES (#{name})
    </insert>

    <update id="update" parameterType="com.solvd.lab.army.model.Country">
        UPDATE country SET
        name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM country WHERE id = #{id}
    </delete>

</mapper>