<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lab.army.mybatis.mappers.EquipmentMapper">
    <resultMap id="equipmentResultMap" type="com.solvd.lab.army.model.Equipment">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="manufacturer" column="manufacturer" />
        <result property="yearOfManufacture" column="year_of_manufacture" />
        <result property="quantity" column="quantity" />
    </resultMap>

    <select id="getById" parameterType="int" resultMap="com.solvd.lab.army.mybatis.mappers.EquipmentMapper.equipmentResultMap">
        SELECT * FROM equipment WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="com.solvd.lab.army.mybatis.mappers.EquipmentMapper.equipmentResultMap">
        SELECT * FROM equipment
    </select>

    <insert id="insert" parameterType="com.solvd.lab.army.model.Equipment">
        INSERT INTO equipment (name , manufacturer , year_of_manufacture )
        VALUES (#{name}, #{manufacturer},#{yearOfManufacture},#{quantity})
    </insert>

    <update id="update" parameterType="com.solvd.lab.army.model.Equipment">
        UPDATE equipment SET
        name = #{name},
        manufacturer = #{manufacturer},
        year_of_manufacture = #{yearOfManufacture},
        quantity = #{quantity}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM equipment WHERE id = #{id}
    </delete>

</mapper>