<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lab.army.mybatis.mappers.EquipmentTypeMapper">
    <resultMap id="equipmentTypeResultMap" type="com.solvd.lab.army.model.EquipmentType">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="getById" parameterType="int" resultMap="com.solvd.lab.army.mybatis.mappers.EquipmentTypeMapper.equipmentTypeResultMap">
        SELECT * FROM equipment_type WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="com.solvd.lab.army.mybatis.mappers.EquipmentTypeMapper.equipmentTypeResultMap">
        SELECT * FROM equipment_type
    </select>

    <insert id="insert" parameterType="com.solvd.lab.army.model.EquipmentType">
        INSERT INTO equipment_type (name)
        VALUES (#{name})
    </insert>

    <update id="update" parameterType="com.solvd.lab.army.model.EquipmentType">
        UPDATE equipment_type SET
        name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM equipment_type WHERE id = #{id}
    </delete>

</mapper>