<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lab.army.mybatis.mappers.RoleMapper">
    <resultMap id="roleResultMap" type="com.solvd.lab.army.model.Role">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="getById" parameterType="int" resultMap="com.solvd.lab.army.mybatis.mappers.RoleMapper.roleResultMap">
        SELECT * FROM role WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="com.solvd.lab.army.mybatis.mappers.RoleMapper.roleResultMap">
        SELECT * FROM role
    </select>

    <insert id="insert" parameterType="com.solvd.lab.army.model.Role">
        INSERT INTO role (name)
        VALUES (#{name})
    </insert>

    <update id="update" parameterType="com.solvd.lab.army.model.Role">
        UPDATE role SET
        name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM role WHERE id = #{id}
    </delete>

</mapper>